<h1>Q. Where's the On After?</h1>
<p>A. Text any message to 858.WANKER4 and you'll get a response text telling you where it is.</p>
<h2>Q. When Will the Location of the On After Be Available?</h2>
<p>A. 20 minutes after the hash starts.</p>
<h2>Q. Why Not Before the Hash?</h2>
<p>A. So that the pack actually has to find the way.  This is actually most useful for auto-hashers.</p>
